

body{
    background-color: rgb(3, 49, 202);
    overflow: hidden;
    border: 0;
    padding: 0;
    cursor: url(assetsd/cursor.png), auto;
    font-family: arial;
}

h1{
    color: white;
}

#bodywrapper :first-child {

    border: 10px solid white;
    box-shadow: 10px 10px 150px 100px rgba(255,0,255,0.64);
    border-radius: 10px;
}

h1 {
    font-family: arial;

}
h2 {
    font-family: arial;
    color:white;
    text-shadow:1px 1px 1px black;
    font-weight: 100;
    padding: 10px;
}


.gifwrapper {

    background-image: url("assets/n1.gif");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  
.gifwrapper2 {

    background-image: url("assets/n2.gif");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  


  button{
      background-color:  rgba(255,255,255,0.01);
      color: white;
      width: 250px;
      height: auto;
      border:2px solid white;
      margin: 20px;
      border-radius: 1px;
      font-size: 40px;
      padding: 20px;
      margin-top: 0;
      text-align: left;
      
  }

button:hover{
box-shadow: 0px 0px 100px rgba(255,255,255,0.1);

}
  #abouttext {
      width: 50vw;
  }

  .textcontainer{
      height: auto;    
      display: block;
      width: 250px;
      border: 2px solid white;
      margin: 20px;
      padding: 20px;
      margin-top: 80px;
      color: white;
      font-size: 40px;
  }
  .textcontainer2{
      height: auto;
      display: block;
      width: 250px;
      border: 2px solid white;
      margin: 20px;
      padding: 20px;
      color: white;
      font-size: 40px;
  }


  .link {
      font-size: 30px;
      color: white;
      font-family: "Open Sans", Helvetica, Arial;
      font-weight: bolder;
      font-size: 28px;
      color: white;
      -webkit-text-stroke: 1px black;
      paint-order: stroke fill;
      text-shadow: 2px 2px 2px blue;

  }

a.visited {
    color: white;
}


	#gemAndCalle {
	    height: auto;
	    width: 500px;
	    position: fixed;
	    bottom: 40px;
	    left: 72px;
	    margin-left: ;
	    overflow-y: hidden;
	    text-align: center;
	    font-family: "Open Sans", Helvetica, Arial;
	    font-weight: bolder;
	    font-size: 28px;
	    color: white;
	    -webkit-text-stroke: 1px black;
	    paint-order: stroke fill;
	    text-shadow: 2px 2px 2px blue;

    }
    
    #clicker{
        height: auto;
	    position: fixed;
	    top: 20px;
	    left: 40px;
	    overflow-y: hidden;
	    text-align: left;
	    font-family: "Open Sans", Helvetica, Arial;
	    font-weight: bolder;
	    font-size: 28px;
        color: white;
        -webkit-text-stroke: 1px black;
	    paint-order: stroke fill;
	    text-shadow: 2px 2px 2px blue;

    }