

body{
    background-color:blue;
    overflow: hidden;
    border: 0;
    padding: 0;
}

h1{
    color: white;
}

#bodywrapper :first-child {

    border: 10px solid white;
    box-shadow: 10px 10px 150px 100px rgba(255,0,255,0.64);
    border-radius: 10px;
}

h1 {
    font-family: arial;

}
h2 {
    font-family: arial;
    color:white;
    text-shadow:1px 1px 1px black;
    font-weight: 100;
    padding: 10px;
}


.gifwrapper {

    background-image: url("assets/n1.gif");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  
.gifwrapper2 {

    background-image: url("assets/n2.gif");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  
